body {
  background: #ffffff;
}

.App {
  font-family: sans-serif;
  padding: 10px 30px;
}

.App > div {
  background-color: #ffffff;
  background-color: #fff;
  color: #fff;
  color: #3498db;
  text-align: center;
}

.slick-dots li.slick-active button:before {
  color: #ffffff;
}

.slick-prev:before,
.slick-next:before {
  color: #ffffff;
  border-radius: 100%;
}
